body {
  font-family: 'Montserrat', sans-serif;
  color: #111111;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 376px) {
  .reviews-section {
    background-color: #fafafa;
  }
  .reviews-container {
    width: 335px;
    margin: 0 auto;
  }

  .reviews-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #111111;
  }

  .reviews-chocolate {
    color: #fd9222;
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .reviews-list-box {
    background-color: #ffffff;
    border: 1px solid #1111111a;
    border-radius: 15px;
    width: 335px;
    height: 200px;
    margin-top: 74px;
    box-shadow: 0px 9.04932px 26.57166px 0px rgba(215, 228, 249, 0.25);
    position: relative;
  }

  .reviews-reviewer-photo {
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 132px;
    top: -40px;
  }

  .reviews-list-title {
    padding-top: 56px;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
  }

  .reviews-review {
    padding: 24px 18px 42px;
    text-align: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111111b2;
  }

  .reviews-slider {
    display: flex;
    margin: 20px auto 32px;
    justify-content: center;
    gap: 13px;
  }

  .reviews-slider-item {
    cursor: pointer;
    height: 13px;
    width: 13px;
    background-color: #1111111a;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      width 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .reviews-slider-item:hover,
  .reviews-slider-item:focus,
  .reviews-slider-item:active {
    background-color: #fd9222;
    width: 28px;
    border-radius: 100px;
  }

  .reviews-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    color: #111111;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    min-width: 165px;
    height: 41px;
    padding: 12px 28px;
    border: 1px solid #fd9222;
    border-radius: 100px;
    margin: 32px auto 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .reviews-button:hover,
  .reviews-button:focus {
    background-color: #fd9222;
    color: #ffffff;
  }

  /*Modal window*/

  .is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(20, 21, 34, 0.4);
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .reviews-modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 311px;
    width: 95%;
    min-height: 471px;
    padding: 32px 24px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    background: #fafafa;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .reviews-close-button {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    fill: #111111;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .reviews-close-button:hover,
  .reviews-close-button:focus {
    fill: #fd9222;
  }

  .reviews-close-button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .reviews-form-message {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-align: left;
    color: #111111;
    margin-bottom: 32px;
    text-transform: uppercase;
  }

  .reviews-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
  }

  .reviews-form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .reviews-form-label {
    display: none;
  }

  .reviews-form-input-box {
    position: relative;
    display: flex;
    height: 45px;
    align-items: center;
  }

  .reviews-form-input-box-phone {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
    box-shadow: 1.5px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }

  .reviews-form-input {
    width: 100%;
    height: 45px;
    padding: 18px 14px;
    background-color: transparent;
    border: 1.5px solid #1111110d;
    border-radius: 8px;
    outline: transparent;
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
  }

  .reviews-form-input-phone {
    padding-left: 106px;
  }

  .reviews-form-icon {
    vertical-align: middle;
    width: 24px;
    height: 18px;
  }

  .reviews-form-icon-country-code {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    vertical-align: middle;
    margin-right: 8px;
  }

  .reviews-form-textarea {
    width: 100%;
    min-height: 91px;
    padding: 14px 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    background-color: transparent;
    border: 1.5px solid #1111110d;
    border-radius: 8px;
    outline: transparent;
    resize: none;
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
  }

  .reviews-form-input::placeholder,
  .reviews-form-textarea::placeholder {
    color: #4040404d;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
  }

  .reviews-send-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #fd9222;
    cursor: pointer;
    box-sizing: border-box;
    min-width: 93px;
    height: 41px;
    padding: 12px 28px;
    border: none;
    border-radius: 100px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .reviews-send-button:focus,
  .reviews-send-button:hover {
    background-color: #fcf1e0;
    color: #fd9222;
  }
}

@media (min-width: 768px) {
  .reviews-container {
    width: 704px;
  }

  .reviews-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .reviews-list {
    gap: 16px;
  }

  .reviews-list-box {
    width: 344px;
    margin-top: 91px;
  }

  .reviews-review {
    padding: 24px 16px 42px;
  }

  .reviews-slider {
    margin: 32px auto 50px;
  }

  .reviews-slider-item {
    display: inline-block;
    justify-content: center;
  }
  .reviews-button {
    font-size: 18px;
    min-width: 222px;
    height: 50px;
    padding: 14px 40px;
    margin: 50x auto 100px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /*Modal window*/

  .reviews-modal-window {
    max-width: 517px;
    min-height: 628px;
    padding: 40px;
  }

  .reviews-close-button {
    top: 24px;
    right: 24px;
  }

  .reviews-form-message {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 40px;
    width: 298px;
  }

  .reviews-br {
    display: none;
  }

  .reviews-form {
    gap: 18px;
  }

  .reviews-form-input-box {
    height: 66px;
  }

  .reviews-form-input {
    height: 66px;
    padding: 22px 24px;
    border-radius: 13px;
  }

  .reviews-form-input-box-phone {
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
    border-right: 1.5px solid rgba(17, 17, 17, 0.05);
  }

  .reviews-form-input {
    width: 100%;
    height: 45px;
    padding: 18px 14px;
    background-color: transparent;
    border: 1.5px solid #1111110d;
    border-radius: 8px;
    outline: transparent;
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
  }

  .reviews-form-input-phone {
    padding-left: 145px;
  }

  .reviews-form-icon {
    width: 32px;
    height: 24px;
  }

  .reviews-form-icon-country-code {
    font-size: 18px;
    letter-spacing: -0.36px;
    margin-right: 18px;
  }

  .reviews-form-textarea {
    min-height: 137px;
    padding: 22px 24px;
    font-size: 18px;
    line-height: normal;
    border-radius: 13px;
  }

  .reviews-form-input::placeholder,
  .reviews-form-textarea::placeholder {
    font-size: 18px;
    line-height: normal;
  }

  .reviews-send-button {
    min-width: 117px;
    height: 45px;
    padding: 14px 40px;
  }
}

@media (min-width: 1200px) {
  .reviews-container {
    width: 1136px;
  }

  .reviews-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .reviews-list {
    gap: 28px;
  }

  .reviews-list-box {
    width: 360px;
    margin-top: 91px;
  }

  .reviews-reviewer-photo {
    left: 140px;
  }

  .reviews-review {
    padding: 24px;
  }

  .reviews-slider {
    margin: 32px auto 50px;
  }

  .reviews-button {
    font-size: 18px;
    min-width: 222px;
    height: 50px;
    padding: 14px 40px;
    margin: 50px auto 128px;
  }

  /*Modal window*/

  .reviews-modal-window {
    max-width: 517px;
    min-height: 628px;
    padding: 40px;
  }

  .reviews-close-button {
    top: 24px;
    right: 24px;
  }

  .reviews-form-message {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 40px;
    width: 298px;
  }

  .reviews-br {
    display: none;
  }

  .reviews-form {
    gap: 18px;
  }

  .reviews-form-input-box {
    height: 66px;
  }

  .reviews-form-input {
    width: 100%;
    height: 66px;
    padding: 22px 24px;
    border-radius: 13px;
  }

  .reviews-form-input-box-phone {
    left: 24px;
    gap: 18px;
    box-shadow: 2.72246px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }

  .reviews-form-input-phone {
    padding-left: 177px;
  }

  .reviews-form-icon {
    width: 32px;
    height: 24px;
  }

  .reviews-form-icon-country-code {
    font-size: 18px;
    letter-spacing: -0.56px;
    margin-right: 28px;
  }

  .reviews-form-textarea {
    min-height: 137px;
    padding: 22px 24px;
    font-size: 18px;
    line-height: normal;
    border-radius: 13px;
  }

  .reviews-form-input::placeholder,
  .reviews-form-textarea::placeholder {
    font-size: 18px;
    line-height: normal;
  }

  .reviews-send-button {
    min-width: 117px;
    height: 45px;
    padding: 14px 40px;
  }
}
