 
<header>
        <nav class="header-nav-desktop">
            <ul class="header-menu">
              <li><a class="" href="">Home</a></li>
              <li><a class="" href="">How it's made</a></li>
              <li><a class="" href="">Our products</a></li>
              <li><a class="" href="">Top Sellers</a></li>
              <li><a class="" href="">Chocolate is loved</a></li>
            </ul>
        
          <ul class="">
              <li >
                <a class="header-icon-social"  href="#">
                  <svg width="20px" height="20px">
                    <!-- <use href="images/icons-footer.svg#icon-instagram-2-3" class="header-position-social"></use> -->
                  </svg>
                </a>
              </li>
  
              <li>
                <a class="header-icon-social" href="#">
                  <svg width="20px" height="20px" class="position-social">
                    <!-- <use href="./images/icons-footer.svg#icon-twitter-1-2"></use> -->
                  </svg>
                </a>
             
            </ul>
        </nav>
      
</header>
