<section class="section hero">
  <div class="container hero-container">
    <h2 class="visually-hidden">Hero</h2>
    <div class="container hero-container2">
      <div class="hero-container-paragraf">
        <p class="hero-paragraf">
          Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
        </p>
      </div>
      <div class="hero-buttons">
        <div class="hero-button-container">
          <button type="button" class="hero-buy-button button-transition" data-modal-open>
            Buy now
          </button>
          <button class="hero-him-button button-transition">How it's made</button>
        </div>

        <div class="hero-scroll-container link-transition">
          <a href="index.html" class="hero-scroll-link link-transition"
            ><p class="hero-scroll-text link-transition">scroll down</p>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              +
              width="28"
              height="28"
              viewBox="0 0 38 38"
              fill="none"
            >
              <ellipse
                class="hero-ellipse link-transition"
                cx="19"
                cy="19"
                rx="19"
                ry="19"
                transform="matrix(0 1 1 0 0 0)"
                fill="white"
              />
              <use
                href="./images/icons.svg#icon-checkbox-checked"
                width="16"
                height="16"
                x="12"
                y="12"
                class="hero-scroll-icon link-transition"
                fill="#fd9222"
              ></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
